<!DOCTYPE html>
<html>
<head>
<title>Ansible labs by hectorvent!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Ansible labs by hectorvent!</h1>

<p>This is just a template for Ansible labs </p>

<p>Follow me 
<a href="https://x.com/hectorvent">@hectorvent</a>.<br/>

<p style="color: red; font-size: 30px">Host ({{ inventory_hostname_short }}): {{ ansible_host }}</em></p>
</body>
</html>
